<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HealthCare Management System</display-name>
  <welcome-file-list>
    <welcome-file>start</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>welcome</display-name>
    <servlet-name>welcome</servlet-name>
    <servlet-class>Controller.welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>Controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>start</display-name>
    <servlet-name>start</servlet-name>
    <servlet-class>Controller.start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>Controller.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>Controller.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDrugMain</display-name>
    <servlet-name>AddDrugMain</servlet-name>
    <servlet-class>Controller.AddDrugMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugMain</servlet-name>
    <url-pattern>/AddDrugMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDrugName</display-name>
    <servlet-name>AddDrugName</servlet-name>
    <servlet-class>Controller.AddDrugName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugName</servlet-name>
    <url-pattern>/AddDrugName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDrugMain1</display-name>
    <servlet-name>AddDrugMain1</servlet-name>
    <servlet-class>Controller.AddDrugMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugMain1</servlet-name>
    <url-pattern>/AddDrugMain1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDrugMainn</display-name>
    <servlet-name>AddDrugMainn</servlet-name>
    <servlet-class>Controller.AddDrugMainn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDrugMainn</servlet-name>
    <url-pattern>/AddDrugMainn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDrugMain</display-name>
    <servlet-name>DisplayDrugMain</servlet-name>
    <servlet-class>Controller.DisplayDrugMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDrugMain</servlet-name>
    <url-pattern>/DisplayDrugMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDrugPharmacy</display-name>
    <servlet-name>DisplayDrugPharmacy</servlet-name>
    <servlet-class>Controller.DisplayDrugPharmacy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDrugPharmacy</servlet-name>
    <url-pattern>/DisplayDrugPharmacy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDrugMain</display-name>
    <servlet-name>DeleteDrugMain</servlet-name>
    <servlet-class>Controller.DeleteDrugMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDrugMain</servlet-name>
    <url-pattern>/DeleteDrugMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDrugMain</display-name>
    <servlet-name>UpdateDrugMain</servlet-name>
    <servlet-class>Controller.UpdateDrugMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDrugMain</servlet-name>
    <url-pattern>/UpdateDrugMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePharmaBase</display-name>
    <servlet-name>UpdatePharmaBase</servlet-name>
    <servlet-class>Controller.UpdatePharmaBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePharmaBase</servlet-name>
    <url-pattern>/UpdatePharmaBase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePharmaBasee</display-name>
    <servlet-name>UpdatePharmaBasee</servlet-name>
    <servlet-class>Controller.UpdatePharmaBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePharmaBasee</servlet-name>
    <url-pattern>/UpdatePharmaBasee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPharmaMain</display-name>
    <servlet-name>DisplayPharmaMain</servlet-name>
    <servlet-class>Controller.DisplayPharmaMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPharmaMain</servlet-name>
    <url-pattern>/DisplayPharmaMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindRegUser</display-name>
    <servlet-name>FindRegUser</servlet-name>
    <servlet-class>Controller.FindRegUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindRegUser</servlet-name>
    <url-pattern>/FindRegUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInStudent</display-name>
    <servlet-name>AddInStudent</servlet-name>
    <servlet-class>Controller.AddInStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInStudent</servlet-name>
    <url-pattern>/AddInStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInStudentt</display-name>
    <servlet-name>AddInStudentt</servlet-name>
    <servlet-class>Controller.AddInStudentt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInStudentt</servlet-name>
    <url-pattern>/AddInStudentt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInStuden</display-name>
    <servlet-name>AddInStuden</servlet-name>
    <servlet-class>Controller.AddInStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInStuden</servlet-name>
    <url-pattern>/AddInStuden</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInStudent</display-name>
    <servlet-name>DisplayInStudent</servlet-name>
    <servlet-class>Controller.DisplayInStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInStudent</servlet-name>
    <url-pattern>/DisplayInStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindInPatient</display-name>
    <servlet-name>FindInPatient</servlet-name>
    <servlet-class>Controller.FindInPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindInPatient</servlet-name>
    <url-pattern>/FindInPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInEmployee</display-name>
    <servlet-name>AddInEmployee</servlet-name>
    <servlet-class>Controller.AddInEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInEmployee</servlet-name>
    <url-pattern>/AddInEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInEmployee</display-name>
    <servlet-name>DisplayInEmployee</servlet-name>
    <servlet-class>Controller.DisplayInEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInEmployee</servlet-name>
    <url-pattern>/DisplayInEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindInPatientEmployee</display-name>
    <servlet-name>FindInPatientEmployee</servlet-name>
    <servlet-class>Controller.FindInPatientEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindInPatientEmployee</servlet-name>
    <url-pattern>/FindInPatientEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOutPatient</display-name>
    <servlet-name>AddOutPatient</servlet-name>
    <servlet-class>Controller.AddOutPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOutPatient</servlet-name>
    <url-pattern>/AddOutPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOutPatient</display-name>
    <servlet-name>DisplayOutPatient</servlet-name>
    <servlet-class>Controller.DisplayOutPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOutPatient</servlet-name>
    <url-pattern>/DisplayOutPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOutPatient</display-name>
    <servlet-name>FindOutPatient</servlet-name>
    <servlet-class>Controller.FindOutPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOutPatient</servlet-name>
    <url-pattern>/FindOutPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOutPatientMed</display-name>
    <servlet-name>AddOutPatientMed</servlet-name>
    <servlet-class>Controller.AddOutPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOutPatientMed</servlet-name>
    <url-pattern>/AddOutPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindOutPatientMed</display-name>
    <servlet-name>FindOutPatientMed</servlet-name>
    <servlet-class>Controller.FindOutPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindOutPatientMed</servlet-name>
    <url-pattern>/FindOutPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOutPatientMed</display-name>
    <servlet-name>DisplayOutPatientMed</servlet-name>
    <servlet-class>Controller.DisplayOutPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOutPatientMed</servlet-name>
    <url-pattern>/DisplayOutPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayInPatientMed</display-name>
    <servlet-name>DisplayInPatientMed</servlet-name>
    <servlet-class>Controller.DisplayInPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayInPatientMed</servlet-name>
    <url-pattern>/DisplayInPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindInPatientMed</display-name>
    <servlet-name>FindInPatientMed</servlet-name>
    <servlet-class>Controller.FindInPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindInPatientMed</servlet-name>
    <url-pattern>/FindInPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInPatientMed</display-name>
    <servlet-name>AddInPatientMed</servlet-name>
    <servlet-class>Controller.AddInPatientMed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInPatientMed</servlet-name>
    <url-pattern>/AddInPatientMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotPassword</display-name>
    <servlet-name>forgotPassword</servlet-name>
    <servlet-class>Controller.forgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>Controller.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>